* {
   font-family: sans-serif;
}


header, footer {
   background-color: #016B61;
   padding: 20px 0 30px 0;
   text-align: center;
   color: white;
}

#myTime {
   font-size: 1rem;
}

nav {
   background-color: #70B2B2;
   padding: 20px 0 20px 0;
   font-size: 1.5rem;
   justify-content: center;
   color: blue;
   text-align: center;
}


nav a:hover {
   text-decoration: underline;
   color: #ffffff;
}

main {
   display: flex;
   flex-wrap: wrap;
   background-color: #a6ce6c;
}

.myImg {
   margin: 20px 10px;
   width: 600px;
   height: 400px;
   border-radius: 15px;
}

.video {
   display: block;
   margin: 20px auto;
   width: 90%;
   
}



