* {
   font-family: sans-serif;
}


header, footer {
   background-color: #016B61;
   padding: 20px 0 30px 0;
   text-align: center;
   color: white;
}

nav {
   background-color: #70B2B2;
   padding: 20px 0 20px 0;
   font-size: 1.5rem;
   justify-content: center;
   color: blue;
   text-align: center;
}

nav a {
   text-decoration: none;
}

nav a:hover {
   text-decoration: underline;
   color: #3c3c87;
}

main {
   display: flex;
   flex-wrap: wrap;
}

.myImg {
   margin: 20px 10px;
   width: 600px;
   height: 400px;
   border-radius: 15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



