* {
   font-family: sans-serif;
}


header, footer {
   background-color: #016B61;
   padding: 20px 0 30px 0;
   text-align: center;
   color: white;
}

nav {
   background-color: #70B2B2;
   padding: 20px 0 20px 0;
   font-size: 1.5rem;
   text-align: center;
   color: blue;
}

nav a {
   text-decoration: none;
}

nav a:hover {
   text-decoration: underline;
   color: #3c3c87;
}

.container {
   display: flex;
   flex-wrap: wrap;
   background-color: #a6ce6c;
}

.article {
   max-width: 1200px;
   background-color: #a6ce6c;
   padding: 20px 0 20px 0;
}


article p {
   font-size: 1.3rem;
}

form {
   background-color: #9ECFD4;
   padding: 20px 0 20px 50px;
}
