* {
   font-family: sans-serif;
}

header, footer {
   background-color: #016B61;
   padding: 20px 0 30px 0;
   text-align: center;
   color: white;
}

nav {
   background-color: #70B2B2;
   padding: 20px 0 20px 0;
   font-size: 1.5rem;
   text-align: center;
   color: blue;
}

nav a {
   text-decoration: none;
   text-align: center;
}

nav a:hover {
   text-decoration: underline;
   color: #3c3c87;
}

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
   background-color: #a6ce6c;
}

.myTable {
   width: 40%;
   text-align: center;
   flex: 1 1 400px;
}

#matchday {
   margin-bottom: 25px;
}

.myTable td, th {
   padding: 5px;
   border: black solid 1px;
   background-color: white;
}