* {
   font-family: sans-serif;
}

body {
   display: grid;
   grid-template-areas:
   "header header"
   "nav nav"
   "main main"
   "footer footer";
   grid-template-columns: 2fr 1fr;
   grid-template-rows: auto auto 1fr auto;
   gap: 10px;
   margin: 0;
   height: 100vh;
}

header  { grid-area: header; }
nav     { grid-area: nav; }
main { grid-area: main; }
footer  { grid-area: footer; }

header, footer {
   background-color: #016B61;
   padding: 20px 0 30px 0;
   text-align: center;
   color: white;
}

nav {
   background-color: #70B2B2;
   padding: 20px 0 20px 0;
   font-size: 1.5rem;
   text-align: center;
   color: blue;
}

nav a {
   text-decoration: none;
   text-align: center;
}

nav a:hover {
   text-decoration: underline;
   color: #3c3c87;
}

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.myTable {
   width: 40%;
   text-align: center;
   flex: 1 1 400px;
}

#matchday {
   margin-bottom: 25px;
}

.myTable td, th {
   padding: 5px;
   border: black solid 1px;
}