header {
   padding-bottom: 20px;
}

header a, header li {
   font-size: 2rem;
}

.cw1 {
   color: red;
}
.cw2 {
   color: blue;
}
.cw3{
   color: green;
}

#author {
   color: red;
}
#myImg {
   padding: 50px 0 50px 15%;
   width: 70%;
}

main table {
   padding: 20px 0 20px 0;
   border-collapse: collapse;
   margin: 0 0 50px 50px;
}
table th, table td {
   border: solid 1px black;
   padding: 5px;
}
.sq {
   width: 100px;
   height: 100px;
   margin: 5px;
}
.sqLine{
   display: flex;
}
#sq1{
   background-color: green;
}
#sq2{
   background-color: yellow;
}
#sq3{
   background-color: brown;
}
#sq5{
   background-color: indigo;
}